@model IEnumerable<CoreLMS.Core.Models.Module>

@{
    ViewData["Title"] = "Modules";
}

    <h1>Modules</h1>

<p>
    <a asp-action="Create">Add A Module</a>
</p>
<form asp-action="Filter">
    <div class="input-group mb-3">
        <input type="text" name="modulename" class="form-control" placeholder="Search on title" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.ModuleName), "Index", new { sortOrder = ViewBag.ModuleNameSortParm })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.StartDate), "Index", new { sortOrder = ViewBag.StartDateSortParm })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.EndDate), "Index", new { sortOrder = ViewBag.EndDateSortParm })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Description), "Index", new { sortOrder = ViewBag.DescriptionSortParm })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Course), "Index", new { sortOrder = ViewBag.CourseSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ModuleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ModuleId">Details</a> |
                <a asp-controller="Documents" asp-action="Create" asp-route-id="@item.ModuleId" asp-route-name="Module">Upload Documents</a>
                @*<a asp-action="Delete" asp-route-id="@item.ModuleId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
