@model IEnumerable<CoreLMS.Core.Models.Activity>

@{
    ViewData["Title"] = "Modules Activities";
}

<h1>Modules Activities:</h1>
@if (Model.Count() == 0)
{
    <p class="text-warning"><strong>No Activities to this Module..</strong></p>
}
else
{
    <h2>
        @Model.First().Module.ModuleName
    </h2>
}

<p>
    <a asp-controller="Activities" asp-action="Create">Create New Activity</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Module.ModuleName)
                </td>
                <td>
                    <a asp-controller="Activities" asp-action="Edit" asp-route-id="@item.ActivityId">Edit</a> |
                    <a asp-controller="Activities" asp-action="Details" asp-route-id="@item.ActivityId">Details</a> |
                    <a asp-controller="Documents" asp-action="Create" asp-route-id="@item.ActivityId" asp-route-name="Activity">Upload Documents</a>
                    @*<a asp-action="Delete" asp-route-id="@item.ActivityId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
