@model CoreLMS.Core.Models.Activity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Module)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Module.ModuleName)
        </dd>
    </dl>
</div>
<div>
    @if ((User.IsInRole("Teacher")) || (User.IsInRole("Admin")))
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model.ActivityId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
    else
    {
        <a asp-controller="Students" asp-action="Index">Student HomePage</a>
    }
</div>
