@model IEnumerable<CoreLMS.Core.Models.Activity>

@{
    ViewData["Title"] = "Activities";
}

<h1>Activities</h1>

<p>
    <a asp-action="Create">Add Activity</a>
</p>
<form asp-action="Filter">
    <div class="input-group mb-3">
        <input type="text" name="activityname" class="form-control" placeholder="Search on title" />
        @*<div class="input-group-append">
            <select name="genre" asp-items="@Html.GetEnumSelectList<ActivityType>()" class="form-control"></select>
        </div>*@
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("ActivityName", "Index", new { sortOrder = ViewBag.ActivityNameSortParm })
            </th>
            <th>
                @Html.ActionLink("StartDate", "Index", new { sortOrder = ViewBag.StartDateSortParm })
            </th>
            <th>
                @Html.ActionLink("EndDate", "Index", new { sortOrder = ViewBag.EndDateSortParm })
            </th>
            <th>
                @Html.ActionLink("Description", "Index", new { sortOrder = ViewBag.DescriptionSortParm })
            </th>
            <th>
                @Html.ActionLink("ActivityType", "Index", new { sortOrder = ViewBag.ActivityTypeSortParm })
            </th>
            <th>
                @Html.ActionLink("Module", "Index", new { sortOrder = ViewBag.ModuleSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Module.ModuleName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ActivityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ActivityId">Details</a> |
                <a asp-controller="Documents" asp-action="Create" asp-route-id="@item.ActivityId" asp-route-name="Activity">Upload Documents</a>
                @*<a asp-action="Delete" asp-route-id="@item.ActivityId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
