@using Microsoft.AspNetCore.Identity
@model IEnumerable<CoreLMS.Core.ViewModels.StudenPageViewModel>
@inject UserManager<LMSUser> UserManager

@{
    var userId = UserManager.GetUserId(User);
}

@{
    ViewData["Title"] = "Details";
}

Welcome @ViewBag.StudentName!
<br />

@foreach (var course in Model)
{
    <div class="card">
        <div class="card-header">

            <h3>Course Description</h3>
            <h2>@course.CourseName</h2>

        </div>
        <ul class="list-group list-group-flush">

            <li class="list-group-item">

                <div>

                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(modelItem => course.Start)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => course.Start)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(modelItem => course.End)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => course.End)
                        </dd>
                        <dt class="col-sm-2">
                            Description
                        </dt>
                        <dd class="col-sm-10">
                            @course.Description
                        </dd>
                    </dl>
                </div>

            </li>

            <li class="list-group-item">
                <br>

                <h3>Modules and Activities</h3>
                <table class="table">
                    <tbody>
                        @foreach (var module in course.ModulesforActivities)
                        {

                            <tr class="p-3 mb-2 bg-light text-dark">
                                <td>
                                    <h5><a asp-action="Details" asp-controller="Modules" asp-route-id="@module.ModuleID">@module.ModuleNameforCourse</a></h5>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => module.Start)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => module.End)
                                </td>
                            </tr>

                            @foreach (var activity in module.Activitiesformodule)
                            {

                                <tr>
                                    <td>
                                        <a asp-action="Details" asp-controller="Activities" asp-route-id="@activity.ActivityId">@Html.DisplayFor(modelItem => activity.ActivityName)</a>
                                        <br />
                                        @if (activity.ActivityType == ActivityType.Assignment)
                                        {
                                            <p>Assignment DeadLine: @Html.DisplayFor(modelItem => activity.EndDate) | <a asp-action="UploadAssignment" asp-controller="Documents" asp-route-id="@activity.ActivityId">Upload Assignment</a></p>
                                        }

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => activity.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => activity.EndDate)
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
}




