@model CoreLMS.Core.ViewModels.CourseForStudent

@{
    ViewData["Title"] = "Details";
}


<div class="card">
    <div class="card-header">


        <h3>Course Description</h3>
        <h2>@Html.DisplayFor(model => model.course.CourseName)</h2>


    </div>
    <ul class="list-group list-group-flush">


        <li class="list-group-item">

            <div>

                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.course.StartDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.course.StartDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.course.EndDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.course.EndDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.course.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.course.Description)
                    </dd>
                </dl>
            </div>

        </li>


        <li class="list-group-item">
            <br>



            @*@if (Model.course.CourseDocuments.Count > 0)
            {
                string completeFilePath = "";
                <h3>Files for the course</h3>

                <table class="table">
                    <thead>
                        <tr class="p-3 mb-2 bg-light text-dark">
                            <th>File link</th>
                            <th>Document name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.course.CourseDocuments)
                        {
                            completeFilePath = "/Documents/" + item.FileName;
                            <tr>
                                <td>
                                    <a href=@completeFilePath>@item.FileName</a>
                                </td>
                                <td>
                                    @item.InternalName
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }*@




        </li>
        <li class="list-group-item">
            <br>



            @if (Model.course.CourseModules.Count > 0)
            {
                <h3>Modules and Activities</h3>
                <table class="table">
                    <tbody>
                        @foreach (var item in Model.course.CourseModules)
                        {
                            if (item.ModuleId == Model.activeModuleId)
                            {
                                <tr class="p-3 mb-2 bg-light text-dark">
                                    <td>
                                        <h5><a asp-action="Details" asp-controller="Modules" asp-route-id="@item.ModuleId">@Html.DisplayFor(modelItem => item.ModuleName)</a></h5>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr class="p-3 mb-2 bg-light text-dark">
                                    <td>
                                        <h5><a asp-action="Details" asp-controller="Modules" asp-route-id="@item.ModuleId">@Html.DisplayFor(modelItem => item.ModuleName)</a></h5>
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </td>
                                </tr>

                            }
                            if (item.ModuleId == Model.activeModuleId)
                            {
                                @foreach (var item2 in item.ModuleActivities)
                                {
                                    if (item2.ActivityId == Model.activeActivityId)
                                    {
                                        <tr class="p-3 mb-2 bg-warning text-dark">
                                            <td>
                                                <a asp-action="Details" asp-controller="Activities" asp-route-id="@item2.ActivityId">@Html.DisplayFor(modelItem => item2.ActivityName)</a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item2.StartDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item2.EndDate)
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                <a asp-action="Details" asp-controller="Activities" asp-route-id="@item2.ActivityId">@Html.DisplayFor(modelItem => item2.ActivityName)</a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item2.StartDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item2.EndDate)
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
            }

        </li>
    </ul>
</div>





