@model IEnumerable<CoreLMS.Core.ViewModels.StudenPageViewModel>


@{
    ViewData["Title"] = "Index";
}

<h3>Student Page</h3>

<p>
    Welcome @ViewBag.StudentName!
    <hr />
    <a asp-controller="Documents" asp-action="Index">View Documents</a>|
    @*<a asp-controller="Documents" asp-action="UploadAssignmentDocument">Upload Assignment Documents</a>|*@

</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            @foreach (var course in Model)
            {
                <p><strong>Course Name:</strong>  @course.CourseName</p>
                <p><strong> Course Description:</strong>  @course.CourseDescription</p>
                <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.CourseId">Course Details</a>
                <hr />
                foreach (var module in course.ModulesforActivities)
                {
                    <p><strong>Module Name:</strong>  @module.ModuleNameforCourse</p>
                    <a asp-controller="Modules" asp-action="Details" asp-route-id="@module.ModuleID">Module Details</a>


                    foreach (var activity in module.Activitiesformodule)
                    {
                        <p><strong>Activity Name:</strong>  @activity.ActivityName</p>
                        <a asp-controller="Activities" asp-action="Details" asp-route-id="@activity.ActivityId"> Activity Details</a>
                        if(@activity.ActivityType ==  ActivityType.Assignment)
                        { 
                            <p>Assignment DeadLine: @activity.EndDate </p>}
                         }
                    <hr />
                }
            }
        </div>
        <div class="col-sm-3 bg-light">

            <p>List Of Course Participants</p>
            @foreach (var item in @ViewBag.Coursestudents)
            {
                <p>@item.Email</p>

            }

        </div>



    </div>
</div>



