@model IEnumerable<CoreLMS.Core.ViewModels.StudenPageViewModel>

@{
    ViewData["Title"] = "StudentPage";
}

<h3>Student Page</h3>

<p>
    Welcome @ViewBag.StudentName!
</p>
@foreach (var course in Model)
{
    <p><strong>Course Name:</strong>  @course.CourseName</p>
    <p><strong> Course Description:</strong>  @course.CourseDescription</p>

    @*foreach (var module in course.ModulesforActivities)
    {
        <p><strong>Module Name:</strong>  @module.ModuleforCourse</p>
        foreach (var activity in course.ModulesforActivities)
        {

        }
    }*@
}
@*<tbody>

            TODO: Try it without foreach
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseEndDate)
                    </td>
                </tr>
                break;
            }
        </tbody>


        -----------------------------------------------MODULES--------------------------------------------

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ModuleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModuleStartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModuleEndDate)
                </th>
            </tr>
        </thead>
        Model.Select(m=>m.ModuleName).Distinct();
        <tbody>


            @foreach (var item in Model.Select(m=> new {newmodel=m.ModuleName+m.ModuleStartDate+m.ModuleEndDate }).Distinct().ToList())
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem =>item.newmodel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item )
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item )
                    </td>
                </tr>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ActivityName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActivityStartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActivityEndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActivityType)
                    </th>

                </tr>
            </thead>

            <tbody>
                <tr>
                    @foreach (var item1 in Model)
                    {

                        <td>
                            @Html.DisplayFor(modelItem => item1.ActivityName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item1.ActivityStartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item1.ActivityEndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item1.ActivityType)
                        </td>
                    }
                </tr>

            </tbody>

    }
            </tbody>
        </table>*@




