@model IEnumerable<CoreLMS.Core.ViewModels.StudenPageViewModel>

@{
    ViewData["Title"] = "StudentPage";
}

<h3>Student Page</h3>

<p>
    Welcome @ViewBag.StudentName!
</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            @foreach (var course in Model)
            {
                <p><strong>Course Name:</strong>  @course.CourseName</p>
                <p><strong> Course Description:</strong>  @course.CourseDescription</p>
                <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.CourseId">Course Details</a>
                <hr />
                foreach (var module in course.ModulesforActivities)
                {
                    <p><strong>Module Name:</strong>  @module.ModuleNameforCourse</p>
                    <a asp-controller="Modules" asp-action="Details" asp-route-id="@module.ModuleID">Module Details</a>


                    foreach (var activity in module.Activitiesformodule)
                    {
                        <p><strong>Activity Name:</strong>  @activity.ActivityName</p>
                        <a asp-controller="Activities" asp-action="Details" asp-route-id="@activity.ActivityId"> Activity Details</a>
                    }
                    <hr />
                }
            }
        </div>
        <div class="col-sm-3 bg-light">
            <p>List Of Course Participants</p>
        </div>
    </div>
</div>



