@model IEnumerable<CoreLMS.Core.Models.Document>

@{
    ViewData["Title"] = "UploadedAssignments";
}

<div class="card">
    <div class="card-header">

        <h1>Uploaded Assignments</h1>
        @if (Model.Count() == 0)
        {
            <p class="text-warning"><strong>No uploaded Assignments yet..</strong></p>
        }
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UploadTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeOfDocument)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Activity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UploadTime)
                    </td>
                    <td>
                        <a asp-action="Download" asp-route-id="@item.DocumentId">@Html.DisplayFor(modelItem => item.DocumentPath)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeOfDocument)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Activity.ActivityName)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>