@model CoreLMS.Core.Models.Document

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfDocument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LMSUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LMSUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Module)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Module.ModuleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activity.ActivityName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DocumentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
